---
---
<div class="w-full mb-16">
  <h1 class="text-center text-3xl mb-8">Quem Somos?</h1>
  <div class="mx-auto min-w-[100% - 4rem] max-w-[80ch] flex text-justify gap-6">
    <p>Nossa equipe altamente qualificada e experiente está pronta para ajudá-lo a encontrar a propriedade perfeita ou realizar transações imobiliárias bem-sucedidas. Com um portfólio abrangente de propriedades e um compromisso inabalável com a satisfação do cliente, oferecemos um serviço personalizado, baseado em integridade, transparência e profissionalismo. Navegue pelo nosso site para encontrar informações atualizadas, fotos de alta qualidade e agendar visitas virtuais ou presenciais. Confie na [Nome da Imobiliária] para tornar seus sonhos imobiliários uma realidade.</p>
    <img class="w-4/12" src="/casaNova.webp" alt="">
  </div>
</div>
