---
import { SearchForm } from '../forms'
---

<section class='relative grid h-[500px] place-items-center'>
  <div
    class='absolute -z-10 h-full w-full bg-center blur-sm'
    style={{ backgroundImage: 'url(/livingRoom.webp)' }}></div>
  <div class='flex flex-col justify-around'>
    <h1 class='text-center text-4xl'>Lorem, ipsum dolor.</h1>
    <SearchForm client:only="react" />
  </div>
</section>
