---
import { SearchForm } from '../forms'
---

<section class='relative grid h-[500px] place-items-center mb-8 overflow-hidden'>
  <div
    class='absolute -z-10 h-[120%] w-[120%] bg-center blur-sm'
      style={{ backgroundImage: 'url(/livingRoom.webp)' }}></div>
  <div class='flex flex-col justify-around gap-6'>
    <h1 class='text-center text-4xl'>Lorem, ipsum dolor.</h1>
    <SearchForm client:only="react" />
  </div>
</section>
