@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-family);
}

.p-galleria-item-nav.p-link {
  @apply rounded-full text-dark-blue;
}
.p-galleria .p-galleria-item-nav:not(.p-disabled):hover {
  @apply bg-dark-blue/20 text-dark-blue;
}

.p-galleria.p-galleria-indicator-onitem .p-galleria-indicators {
  @apply bg-black/30;
}

.p-button {
  @appply transition-colors;
}

.p-dropdown:not(.p-disabled).p-focus {
  @apply border-dark-blue shadow-dark-blue;
  outline: 0 none;
  outline-offset: 0;
  box-shadow: 0 0 0 1px var(--tw-shadow-color);
}

.p-button,
.p-button:enabled:hover,
.p-selectbutton .p-button.p-highlight,
.p-selectbutton .p-button.p-highlight:hover {
  @apply border-dark-blue bg-dark-blue;
}

.p-button:focus {
  box-shadow: 0 0 0 2px #ffffff, 0 0 0 4px rgb(30, 60, 92), 0 1px 2px 0 rgba(0, 0, 0, 0);
}

span.p-inputnumber.p-component.p-inputwrapper {
  @apply w-32;
}
span.p-inputnumber.p-component.p-inputwrapper > input.p-inputtext.p-inputnumber-input {
  @apply w-32;
}

.p-dataview .p-dataview-content {
  @apply grid bg-inherit;
}

.p-grid.grid.p-nogutter.grid-nogutter {
  @apply flex flex-wrap items-center justify-center gap-9;
}

.p-paginator.p-component.p-paginator-bottom {
  @apply bg-inherit;
}

.p-float-label input:focus ~ label,
.p-float-label input:-webkit-autofill ~ label,
.p-float-label input.p-filled ~ label,
.p-float-label textarea:focus ~ label,
.p-float-label textarea.p-filled ~ label,
.p-float-label .p-inputwrapper-focus ~ label,
.p-float-label .p-inputwrapper-filled ~ label,
.p-float-label .p-tooltip-target-wrapper ~ label {
  @apply -top-2 text-xs;
}
